<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="static/cipher.css">
</head>
<body>
    <form id="profile" action="/profile/{{profile['username']}}" method="GET">
        <div><input type="image" class="profile-button" id="avatar" src="/static/avatars/{{profile['avatar']}}"/> {{profile['username']}}</div>
    </form>

    <form id="cipherselect" action="/cipherselection" method="POST">
        <div><button name="mode" value="patristocrat-k1" class="cipher-btn">K1 Patristocrat</button><button name="mode" value="soloPat1">K1 Patristocrat(Solo)</button></div>
        <div><button name="mode" value="patristocrat-k2" class="cipher-btn">K2 Patristocrat</button><button name="mode" value="soloPat2">K2 Patristocrat(Solo)</button></div>
    </form>

</body>
</html>