<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/cipher.css"/>
        <script>
            function updateText() {
                let val = event.target.value;
                let name = event.target.name;
                let sameBoxes = document.getElementsByName(name);
                for (let i = 0; i<sameBoxes.length; i++) {
                    sameBoxes[i].value = val.toUpperCase();
                }
            }
            
        </script>
    <body>
        <form action="/patristocrat" method="POST">
            {% for i in letters %}
                {% if i == ' '%}
                    {{i}}
                {% else %}
                    {{i}} <input class="letter" name="{{i}}" maxlength="1" size="1" oninput="updateText()" required/>
                {% endif %}
            {% endfor %}
            <div id="checkbutton"><button type="submit">Check</button></div>
        </form>
        <form id='cipherselect' action="/cipherselection">
            <button type="submit">Back to Cipher Selection</button>
        </form>
        <div id="checks">
            {% with checks = get_flashed_messages(category_filter=["check"]) %}
                {% if checks %}
                    {% for msg in checks%}
                        {{msg}}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        

    </body>
</html>